<div class="container mt-5">

    <div class="row mb-4">
        <h3 class="mx-auto"> Visits </h3>
    </div>

    <div class="row">
        <button mdbBtn class="btn" color="success" size="sm" mdbWavesEffect (click)="openSaveModal()">
            <mdb-icon fas icon="plus"></mdb-icon>
        </button>
    </div>

    <div class="row">
        <div class="table-responsive m-1">

            <table class="table table-bordered">
                <thead class="primary-color white-text">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Sales Representative</th>
                        <th scope="col">Net</th>
                        <th scope="col">Visit Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let visit of visits">
                        <td scope="row"> {{visit.date}} </td>
                        <td scope="row"> {{visit.representative.name}}</td>
                        <td scope="row"> {{visit.net | currency}} </td>
                        <td scope="row"> {{ visit.total | currency}} </td>
                        <td scope="row" class="text-center">
                            <a (click)="openSaveModal(visit)" mdbTooltip="Edit">
                                <mdb-icon fas icon="edit" class="text-primary ml-2">
                                </mdb-icon>
                            </a>
                            <a (click)="deleteVisit(visit.id)" mdbTooltip="Delete">
                                <mdb-icon fas icon="trash" class="text-danger ml-2"></mdb-icon>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>


</div>