/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular-notifier/styles.scss';


body, html {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


// .select-label {
//     position: relative !important;
//     margin-bottom: 0.7rem;
//     font-size: 1rem;
//     transition: transform 0.2s ease-out, color 0.2s ease-out;
//     transform-origin: 0% 100%;
//     transform: translateY(12px);
//     cursor: text;
//     color:#757575;
// }